* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #3d1f1d;
  font-size: 1.6rem; }

.container {
  display: grid;
  grid-template-rows: 20vh 300vh 20vh;
  grid-template-columns: [side-start] 100vw [side-end]; }
  @media only screen and (max-width: 1000px) {
    .container {
      grid-template-rows: 18vh 245vh 20vh; } }
  @media only screen and (max-width: 950px) {
    .container {
      grid-template-rows: 10vh 215vh 20vh; } }
  @media only screen and (max-width: 800px) {
    .container {
      grid-template-rows: 10vh 215vh 20vh; } }
  @media only screen and (max-width: 600px) {
    .container {
      grid-template-rows: 10vh 178vh 20vh; } }
  @media only screen and (max-width: 350px) {
    .container {
      grid-template-rows: 10vh 278vh 20vh; } }

.main {
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  /* grid-template-columns: 100px 100px 100px 100px 100px; */
  grid-template-rows: repeat(24, 10vh);
  grid-gap: 1rem;
  padding: 9rem 7rem;
  /* width: 100vw; */ }
  @media only screen and (max-width: 700px) {
    .main {
      padding: 8rem 4rem; } }
  @media only screen and (max-width: 600px) {
    .main {
      padding: 8rem 3rem;
      grid-template-rows: repeat(14, 10vh);
      grid-gap: 0.8rem; } }
  @media only screen and (max-width: 400px) {
    .main {
      padding: 7rem 2.5rem;
      grid-gap: 0.7rem; } }
  .main img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 5px; }

.grid {
  width: 100%;
  height: 100%; }

.main1 {
  grid-row: 1 / span 8;
  grid-column: 1 / span 3;
  background-color: #81ad70; }
  @media only screen and (max-width: 1000px) {
    .main1 {
      grid-row: 1 / span 7; } }
  @media only screen and (max-width: 800px) {
    .main1 {
      grid-row: 1 / span 5; } }
  @media only screen and (max-width: 600px) {
    .main1 {
      grid-row: 1 / span 4; } }

.main2 {
  background-color: #21c251;
  grid-row: 1 / span 4;
  grid-column: 4 / span 2; }
  @media only screen and (max-width: 1000px) {
    .main2 {
      grid-row: 1 / span 3; } }
  @media only screen and (max-width: 600px) {
    .main2 {
      grid-row: 1 / span 2; } }

.main3 {
  background-color: #7e152f;
  grid-row: 1 / span 4;
  grid-column: 6 / span 3; }
  @media only screen and (max-width: 800px) {
    .main3 {
      grid-row: 1 / span 3; } }
  @media only screen and (max-width: 600px) {
    .main3 {
      grid-row: 1 / span 2; } }

.main4 {
  background-color: #141f02;
  grid-row: 5 / span 4;
  grid-column: 4 / span 2; }
  @media only screen and (max-width: 1000px) {
    .main4 {
      grid-row: 4 / span 4; } }
  @media only screen and (max-width: 800px) {
    .main4 {
      grid-row: 4 / span 3; } }
  @media only screen and (max-width: 600px) {
    .main4 {
      grid-column: 4 / span 4;
      grid-row: 3 / span 2; } }

.main5 {
  background-color: #06f83a;
  grid-row: 5 / span 4;
  grid-column: 6 / span 2; }
  @media only screen and (max-width: 1000px) {
    .main5 {
      grid-row: 5 / span 3; } }
  @media only screen and (max-width: 800px) {
    .main5 {
      grid-row: 4 / span 3; } }
  @media only screen and (max-width: 600px) {
    .main5 {
      grid-column: 4 / span 5;
      grid-row: 5 / span 2; } }

.main6 {
  background-color: #14a1ac;
  grid-row: 9 / span 4;
  grid-column: 1 / span 3; }
  @media only screen and (max-width: 1000px) {
    .main6 {
      grid-row: 8 / span 4; } }
  @media only screen and (max-width: 800px) {
    .main6 {
      grid-row: 6 / span 3; } }
  @media only screen and (max-width: 600px) {
    .main6 {
      grid-row: 5 / span 3; } }

.main7 {
  background-color: #df8715;
  grid-row: 9 / span 8;
  grid-column: 4 / span 3; }
  @media only screen and (max-width: 1000px) {
    .main7 {
      grid-row: 8 / span 6; } }
  @media only screen and (max-width: 800px) {
    .main7 {
      grid-row: 7 / span 4; } }
  @media only screen and (max-width: 600px) {
    .main7 {
      grid-row: 7 / span 3; } }

.main8 {
  background-color: #e9218f;
  grid-row: 9 / span 4;
  grid-column: 7 / span 2; }
  @media only screen and (max-width: 1000px) {
    .main8 {
      grid-row: 8 / span 3; } }
  @media only screen and (max-width: 800px) {
    .main8 {
      grid-row: 7 / span 3; } }
  @media only screen and (max-width: 600px) {
    .main8 {
      grid-row: 7 / span 2; } }

.main9 {
  background-color: #6e6160;
  grid-row: 13 / span 4;
  grid-column: 2 / span 2; }
  @media only screen and (max-width: 1000px) {
    .main9 {
      grid-row: 12 / span 3; } }
  @media only screen and (max-width: 800px) {
    .main9 {
      grid-row: 9 / span 3; } }
  @media only screen and (max-width: 600px) {
    .main9 {
      grid-row: 8 / span 2; } }

.main10 {
  background-color: #db1305;
  grid-row: 13 / span 4;
  grid-column: 7 / span 2; }
  @media only screen and (max-width: 1000px) {
    .main10 {
      grid-row: 11 / span 3; } }
  @media only screen and (max-width: 800px) {
    .main10 {
      grid-row: 10 / span 3; } }
  @media only screen and (max-width: 600px) {
    .main10 {
      grid-row: 9 / span 2; } }

.main11 {
  background-color: #7bb2d6;
  grid-row: 17 / span 8;
  grid-column: 1 / span 3; }
  @media only screen and (max-width: 1000px) {
    .main11 {
      grid-row: 15 / span 5; } }
  @media only screen and (max-width: 800px) {
    .main11 {
      grid-row: 12 / span 3; } }
  @media only screen and (max-width: 600px) {
    .main11 {
      grid-row: 10 / span 3; } }

.main12 {
  background-color: #e761af;
  grid-row: 17 / span 4;
  grid-column: 4 / span 2; }
  @media only screen and (max-width: 1000px) {
    .main12 {
      grid-row: 14 / span 3; } }
  @media only screen and (max-width: 800px) {
    .main12 {
      grid-row: 11 / span 3;
      grid-column: 4 / span 3; } }
  @media only screen and (max-width: 600px) {
    .main12 {
      grid-row: 10 / span 2; } }

.main13 {
  background-color: #48cf13;
  grid-row: 17 / span 8;
  grid-column: 6 / span 3; }
  @media only screen and (max-width: 1000px) {
    .main13 {
      grid-row: 14 / span 6; } }
  @media only screen and (max-width: 800px) {
    .main13 {
      grid-row: 14 / span 3;
      grid-column: 4 / span 5; } }
  @media only screen and (max-width: 600px) {
    .main13 {
      grid-row: 12 / span 3; } }

.main14 {
  background-color: #220f1c;
  grid-row: 21 / span 4;
  grid-column: 4 / span 2; }
  @media only screen and (max-width: 1000px) {
    .main14 {
      grid-row: 17 / span 3; } }
  @media only screen and (max-width: 800px) {
    .main14 {
      grid-row: 15 / span 2;
      grid-column: 1 / span 3; } }
  @media only screen and (max-width: 600px) {
    .main14 {
      grid-row: 13 / span 2; } }

.heading-tertiary {
  color: #151616;
  font-size: 2rem;
  padding-bottom: 1rem; }

.heading-primary:after,
.heading-secondary:after {
  display: block;
  height: 2px;
  background-color: #ef4565;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 15px; }

.Paragraph {
  line-height: 1.4;
  margin-bottom: 4rem;
  padding-top: 2rem; }

.header {
  grid-column: side-start/side-end;
  background-color: #cadd23;
  display: grid;
  grid-template-rows: repeat(2, 10vh);
  grid-template-columns: repeat(10, 1fr); }
  @media only screen and (max-width: 950px) {
    .header {
      grid-template-rows: 10vh; } }

.logo {
  grid-row: 1;
  grid-column: 5 / span 2;
  letter-spacing: 4px;
  padding: 2rem 0; }
  @media only screen and (max-width: 1100px) {
    .logo {
      grid-column: 5 / span 3; } }
  @media only screen and (max-width: 950px) {
    .logo {
      grid-column: 1 / span 7;
      padding-left: 4rem; } }

.menu {
  grid-row: 2;
  grid-column: 3 / span 6;
  margin: 0 auto;
  color: #080102;
  font-size: 1.6rem;
  transition: 0.3s ease; }
  @media only screen and (max-width: 1100px) {
    .menu {
      grid-column: 3 / span 7; } }
  @media only screen and (max-width: 950px) {
    .menu {
      position: fixed;
      left: -100%;
      top: 70px;
      width: 100%;
      height: 50%;
      background-color: #eb244c; }
      .menu.active {
        left: 0; } }
  .menu ul {
    display: flex;
    list-style: none;
    margin: 0 auto; }
    @media only screen and (max-width: 950px) {
      .menu ul {
        flex-direction: column;
        text-align: center;
        transition: 0.3s; } }
    .menu ul li {
      padding: 2rem 3rem; }
    .menu ul a {
      text-decoration: none;
      color: inherit;
      transition: 0.7s ease; }
      .menu ul a:hover {
        color: #ef4565;
        font-size: 1.7rem; }
  @media only screen and (max-width: 1100px) {
    .menu li {
      padding: 1rem; } }

.hamburger {
  grid-row: 1;
  display: none;
  grid-column: 10 / span 1;
  cursor: pointer;
  margin-top: 2.4rem; }

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #97743c; }

@media only screen and (max-width: 950px) {
  .hamburger {
    display: block;
    padding: 0 24px; }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0; }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg); }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg); } }

header {
  grid-column: side-start/side-end;
  display: grid;
  grid-template-rows: repeat(2, 10vh);
  grid-template-columns: repeat(8, 100px);
  background-color: #5c5714;
  text-align: center;
  /* grid-template-columns: 100px 100px 100px 100px 100px; */ }

footer {
  grid-row: 3; }

.footer {
  background-image: linear-gradient(to right bottom, rgba(145, 209, 209, 0.9), rgba(255, 255, 255, 0.6));
  height: 60vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8rem 13rem; }
  @media only screen and (max-width: 900px) {
    .footer {
      padding: 8rem; } }
  @media only screen and (max-width: 650px) {
    .footer {
      padding: 4rem;
      flex-direction: column;
      height: 100vh;
      justify-content: space-between; } }
  .footer ul {
    list-style: none; }
  .footer ul li {
    padding: 3px; }
  .footer li a {
    text-decoration: none;
    font-size: 1.6rem;
    color: #ef4565; }
  .footer li a:hover {
    color: inherit; }
  .footer form #input {
    background-color: #f0d9dd;
    padding: 1rem;
    border: none;
    color: #ef4565;
    width: 100%;
    border: 1px solid #ef4565;
    outline: none; }
    @media only screen and (max-width: 650px) {
      .footer form #input {
        width: 70%; } }
  .footer form #input:hover {
    border: 1px solid #151616; }
