* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #3d1f1d;
  font-size: 1.6rem;
}

.container {
  display: grid;
  grid-template-rows: 20vh 300vh 20vh;
  grid-template-columns: 100%;

  @media only screen and (max-width: 1000px) {
    grid-template-rows: 18vh 245vh 20vh;
  }

  @media only screen and (max-width: 800px) {
    grid-template-rows: 20vh 215vh 20vh;
  }

  @media only screen and (max-width: 600px) {
    grid-template-rows: 20vh 178vh 20vh;
  }

  @media only screen and (max-width: 350px) {
    grid-template-rows: 20vh 278vh 20vh;
  }
}

// git config core.autocrlf true
